/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1em;
  background: #191919;
  position: relative;
}

a {
  color: #C38213;
  text-decoration: none;
}

.title {
  text-align: center;
  font-size: 2.8em;
  font-weight: bold;
  color: #191919;
  padding: 2em 0 .5em 0;
  display: block;
  margin: 0 auto;
  line-height: 1.2em;
}

.sub-title {
  font-size: 1.5em;
  color: #094BA0;
  margin: 0 0 .5em 0;
  line-height: 1.2em;
  font-weight: normal;
  font-family: "apercubold", "sans-serif";
}

.subsub-title {
  font-size: 1.5em;
  margin: 0 0 .5em 0;
  line-height: 1.2em;
}

.description {
  line-height: 1.5em;
  font-size: 1.1em;
  margin: 0 0 1em 0;
  margin: 0 auto;
}

@font-face {
  font-family: 'apercuitalic';
  src: url("fonts/apercuitalic-webfont.eot");
  src: url("fonts/apercuitalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/apercuitalic-webfont.woff") format("woff"), url("fonts/apercuitalic-webfont.ttf") format("truetype"), url("fonts/apercuitalic-webfont.svg#apercuitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'apercubold';
  src: url("fonts/apercubold-webfont.eot");
  src: url("fonts/apercubold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/apercubold-webfont.woff") format("woff"), url("fonts/apercubold-webfont.ttf") format("truetype"), url("fonts/apercubold-webfont.svg#apercubold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'apercuregular';
  src: url("fonts/apercuregular-webfont.eot");
  src: url("fonts/apercuregular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/apercuregular-webfont.woff") format("woff"), url("fonts/apercuregular-webfont.ttf") format("truetype"), url("fonts/apercuregular-webfont.svg#apercuregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'aperculight_italic';
  src: url("fonts/aperculightitalic-webfont.eot");
  src: url("fonts/aperculightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/aperculightitalic-webfont.woff") format("woff"), url("fonts/aperculightitalic-webfont.ttf") format("truetype"), url("fonts/aperculightitalic-webfont.svg#aperculight_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'aperculight';
  src: url("fonts/aperculight-webfont.eot");
  src: url("fonts/aperculight-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/aperculight-webfont.woff") format("woff"), url("fonts/aperculight-webfont.ttf") format("truetype"), url("fonts/aperculight-webfont.svg#aperculight") format("svg");
  font-weight: normal;
  font-style: normal;
}
.details img {
  width: 100%;
  padding: 10% 20%;
}

@media screen and (min-width: 500px) {
  .details img {
    padding: 7.5% 30%;
  }
}
@media screen and (min-width: 750px) {
  .details img {
    padding: 5% 35%;
  }
}
@media screen and (min-width: 1000px) {
  .details img {
    padding: 0 40%;
  }
}
@media screen and (min-width: 1700px) {
  .details img {
    padding: 0 42.5%;
  }
}
.logo img {
  width: 100%;
  padding: 15% 10% 0 10%;
}

@media screen and (min-width: 500px) {
  .logo img {
    padding: 15% 20% 0 20%;
  }
}
@media screen and (min-width: 750px) {
  .logo img {
    padding: 10% 20% 0 20%;
  }
}
@media screen and (min-width: 1000px) {
  .logo img {
    padding: 2.5% 10%;
  }
}
@media screen and (min-width: 1700px) {
  .logo img {
    padding: 2.5% 12.5%;
  }
}
.stripes img {
  width: 100%;
}

.stripes--top {
  position: absolute;
  top: 0%;
  left: 2%;
  right: 2%;
}

@media screen and (min-width: 1000px) {
  .stripes--top {
    display: none;
  }
}
.buttons {
  margin-top: 1em;
  text-align: center;
}

.button {
  font-family: 'apercuregular', 'sans-serif';
  border-radius: 5em;
  background: #eee;
  border: .2em solid #eee;
  padding: .5em 1.25em;
  margin: .5em;
  text-decoration: none;
  display: inline-block;
  font-weight: normal;
  font-size: 20px;
}

.button--style1 {
  color: #094BA0;
  border-color: #094BA0;
}
.button--style1:hover {
  border-color: #e6e6eb;
  background: #094BA0;
  color: #e6e6eb;
}

.button--style2 {
  color: #eee;
  background: #C38213;
  border-color: #eee;
}

.button--style3 {
  color: #eee;
  background: #094BA0;
  border-color: #eee;
}

.footer .copyright {
  text-align: center;
  font-size: .9em;
  color: #999;
  font-family: 'apercuregular', 'sans-serif';
  margin: 2em 0;
}
.footer .copyright a {
  color: #999;
}
.footer img {
  width: 100%;
  padding: 5% 10%;
}

@media screen and (min-width: 500px) {
  .footer img {
    padding: 5% 20% 5% 20%;
  }
}
@media screen and (min-width: 750px) {
  .footer img {
    padding: 5% 15% 5% 15%;
  }
}
@media screen and (min-width: 1000px) {
  .footer img {
    padding: 2.5% 20%;
  }
}
.notification {
  margin: 2em 0 0 0;
  color: #eee;
  font-family: 'apercuregular', 'sans-serif';
}

@media screen and (min-width: 500px) {
  .notification {
    margin: 0;
    font-size: 1.1em;
  }
}
.divider01 {
  padding: 2em 4em;
}
.divider01 img {
  width: 100%;
}

@media screen and (min-width: 500px) {
  .divider01 {
    margin: 1em 0 1em 0;
  }
  .divider01 img {
    max-width: 400px;
  }
}
.introduction {
  margin: 0 auto;
  max-width: 920px;
  font-size: 20px;
  line-height: 28px;
  color: #ddd;
  text-align: center;
  font-family: apercuregular;
  font-weight: normal;
  padding: 2em 1em 0 1em;
}
.introduction a {
  color: #eee;
}

@media screen and (min-width: 1000px) {
  .introduction {
    padding: 0 1em 1em 1em;
  }
}
.venues {
  background: #e6e6eb;
  font-family: apercuregular;
  border-top: 8px solid #c8c8c8;
  border-bottom: 8px solid #c8c8c8;
  margin: 0 auto;
}

.venues__wrapper {
  max-width: 1160px;
  margin: 0 auto;
  padding: 4em 2em;
}

.venues__left {
  text-align: center;
}

.venues__right {
  text-align: center;
}

.venue__image {
  text-align: center;
  margin: 0 0 1em 0;
}
.venue__image img {
  padding: 1em 0;
  width: 100%;
}

.venue__address {
  line-height: 1.5em;
  font-size: 1.1em;
  margin: 0 0 2em 0;
}

@media screen and (min-width: 768px) {
  .venues__left {
    float: left;
    width: 50%;
    text-align: left;
    padding: 0 1em;
  }

  .venues__right {
    float: left;
    width: 50%;
    text-align: left;
    padding: 0 1em;
  }

  .venue__image img {
    padding: 2em 0;
  }
}
.call-for {
  font-size: 1.2em;
  margin: 0 0 4em 0;
}
.call-for a {
  color: #C38213;
  text-decoration: none;
  margin: 0 .5em;
  text-decoration: none;
  font-family: 'apercuregular', 'sans-serif';
}

.sleep {
  background: #e6e6eb;
  font-family: apercuregular;
  border-bottom: 8px solid #c8c8c8;
  margin: 0 auto;
}

.sleep__wrapper {
  max-width: 1160px;
  margin: 0 auto;
  padding: 4em 2em;
}

.sleep__image {
  display: none;
}

.sleep__list {
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 0 0 2em 0;
}
.sleep__list li a {
  color: #C38213;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .sleep__wrapper {
    padding: 4em 0;
  }

  .sleep__image {
    display: block;
    margin: -14em 0 1em 0;
    text-align: center;
  }
  .sleep__image img {
    width: 80%;
  }

  .sleep__list__left {
    float: left;
    width: 50%;
  }

  .sleep__list__right {
    float: left;
    width: 50%;
  }

  .sleep__left {
    text-align: center;
    width: 25%;
    float: left;
  }

  .sleep__right {
    text-align: left;
    width: 75%;
    float: left;
    padding: 0 2em 0 2em;
  }
}
