.buttons {
	margin-top: 1em;
	text-align: center;
}

.button {
	font-family: 'apercuregular', 'sans-serif';
	border-radius: 5em;
	background: #eee;
	border: 2px solid #eee;
	padding: .5em 1.25em;
	margin: 1em;
	text-decoration: none;
	display: inline-block;
	font-weight: normal;
}

.button--style1 {
	color: #094BA0;
	border-color: #094BA0;
	font-size: 1.2em;
	&:hover {

	}
}

.button--style2 {
	color: #eee;
	background: #C38213;
	border-color: #eee;
	&:hover {

	}
}

.button--style3 {
	color: #eee;
	background: #094BA0;
	border-color: #eee;
	&:hover {

	}
}


@media screen and (min-width: 500px) {
	.button--style1 {
		font-size: 1.2em;
	}
}