.buttons {
	margin-top: 1em;
	text-align: center;
}

.button {
	font-family: 'apercuregular', 'sans-serif';
	border-radius: 5em;
	background: #eee;
	border: .2em solid #eee;
	padding: .5em 1.25em;
	margin: .5em;
	text-decoration: none;
	display: inline-block;
	font-weight: normal;
	font-size: 20px;
}

.button--style1 {
	color: #094BA0;
	border-color: #094BA0;
	&:hover {
		border-color: #e6e6eb;
		background: #094BA0;
		color: #e6e6eb;
	}
}

.button--style2 {
	color: #eee;
	background: #C38213;
	border-color: #eee;
	&:hover {

	}
}

.button--style3 {
	color: #eee;
	background: #094BA0;
	border-color: #eee;
	&:hover {

	}
}
