.footer {
    .copyright {
        text-align: center;
        font-size: .9em;
        color: #999;
        font-family: 'apercuregular', 'sans-serif';
        margin: 2em 0;
        a {
            color: #999;
        }
    }
    img {
        width: 100%;
        padding: 5% 10%;
    }
}

@media screen and (min-width: 500px) {

    .footer {
        img {
            padding: 5% 20% 5% 20%;
        }
    }

}


@media screen and (min-width: 750px) {

    .footer {
        img {
            padding: 5% 15% 5% 15%;
        }
    }

}


@media screen and (min-width: 1000px) {

    .footer {
        img {
            padding: 2.5% 20%;
        }
    }

}
