.introduction {
    margin: 0 auto;
    max-width: 920px;
    font-size: 20px;
    line-height: 28px;
    color: #ddd;
    text-align: center;
    font-family: apercuregular;
    font-weight: normal;
    padding: 2em 1em;
}