.sponsors {
  text-align: center;
  margin: 3em 0 4em 0;
  display: block !important;

  hr {
    background: transparent;
    border: none;
  }
}

.sponsor1 {
  float:left;
  width: 50%;
  margin: 3em 0;
}
.sponsor2 {
  float:left;
  width: 50%;
  margin: 3em 0;
}
.sponsor3 {
  float:left;
  width: 33%;
  margin: 3em 0;
}
.sponsor4 {
  float:left;
  width: 33%;
  margin: 0em 0;
  img {
    width: 170px;
  }
}
.sponsor5 {
  float:left;
  width: 33%;
  margin: 2.2em 0;
}