.venues {
	background: rgb(230, 230, 235);;
    font-family: apercuregular;
    border-bottom: 8px solid rgb(200, 200, 200);
    margin: 0 auto;
}

.venues__wrapper {
	max-width: 1160px;
	margin: 0 auto;
	padding: 4em 2em;
}

.venues__left {
	text-align: center;
}

.venues__right {
	text-align: center;
}


.venue__image {
	text-align: center;
	margin: 0 0 1em 0;
	img {
		padding: 1em 0;
		width: 100%;
	}
}

.venue__address {
	line-height: 1.5em;
	font-size: 1.1em;
	margin: 0 0 2em 0;
}

@media screen and (min-width: 768px) {
    .venues__left {
	    float: left;
	    width: 50%;
	    text-align: left;
	    padding: 0 1em;
	}

	.venues__right {
	    float: left;
	    width: 50%;
	    text-align: left;
	    padding: 0 1em;
	}

	.venue__image {
		img {
			padding: 2em 0;
		}
	}
}

