@import '../vendor/reset-scss/reset';

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

html,
body {
	height: 100%;
}

body {
	font-size: 16px;
	line-height: 1em;
	background: #191919;
	position: relative;
}

a {
    color: #C38213;
    text-decoration: none;
}

.title {
    text-align:center;
    font-size: 2.8em;
    font-weight:bold;
    color: #191919;
    padding: 1.5em 0 0 0;
    display: block;
    margin: 0 auto;
    line-height: 1.2em;
    max-width: 80%;
}

.sub-title {
    font-size: 1.5em;
    color: #094BA0;
    margin: 0 0 .5em 0;
    line-height: 1.2em;
    font-weight: normal;
    font-family: "apercubold", "sans-serif";
}

.subsub-title {
    font-size: 1.5em;
    margin: 0 0 .5em 0;
    line-height: 1.2em;
}

.description {
    line-height: 1.5em;
    font-size: 1.1em;
    margin: 0 0 1em 0;
    margin: 0 auto;
}

@import 'fonts';
@import 'details';
@import 'logo';
@import 'stripes';
@import 'buttons';
@import 'footer';
@import 'notification';
@import 'dividers';
@import 'introduction';
@import 'venues';
@import 'call-for';
@import 'sleep';
